<section id="add-group" class="setup">
  <div class="container">
    <div class="row justify-content-between dialog-header">
      <div class="col-md-6 px-4 pt-4">
        <h2 *ngIf="addMode">Set up a new Group</h2>
        <h2 *ngIf="updateMode">
          Update <span class="text-third"> {{ groupDetails?.name }} </span>Group
        </h2>
      </div>
      <div class="col-md-3">
        <div class="d-flex justify-content-end">
          <i
            class="fa-solid fa-check fs-1 fw-bold pointer py-3 px-4"
            (click)="onSubmit()"
          ></i>
          <i
            class="fa-solid fa-xmark fs-1 fw-bold pointer py-3 px-4"
            (click)="onNoClick()"
          ></i>
        </div>
      </div>
    </div>

    <form [formGroup]="groupForm" class="my-4 p-5">
      <div class="input-group input-group-lg mb-3 d-flex flex-nowrap">
        <span class="input-group-text header" id="inputGroup-sizing-lg"
          >Group Name:</span
        >
        <input
          formControlName="name"
          type="text"
          class="form-control"
          aria-label="title"
          aria-describedby="title"
        />
        <span
          class="text-danger px-3"
          *ngIf="
            groupForm.get('name')?.errors && groupForm.get('name')?.touched
          "
        >
          <span *ngIf="groupForm.get('name')?.getError('required')"
            >Group Name is required</span
          >
        </span>
      </div>
      <div class="input-group d-flex flex-nowrap">
        <span class="ps-3 pe-4 fw-medium pt-3 fs-5">Students</span>
        <mat-form-field class="w-100">
          <mat-select
            class="text-center fs-5"
            formControlName="students"
            multiple
          >
            <mat-option
              #selected
              *ngFor="let student of studentsList"
              [value]="student"
              >{{ student.first_name }} {{ student.last_name }}</mat-option
            >
            <ng-container *ngFor="let student of groupStudents">
              <mat-option *ngIf="updateMode == true" [value]="student"
                >{{ student.first_name }} {{ student.last_name }}</mat-option
              >
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <span *ngIf="studentsList.length == 0" class="text-danger p-3"
        ><i class="fa-solid fa-triangle-exclamation"></i> No students without
        group</span
      >
    </form>
  </div>
</section>
