<section id="login" class="auth">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-md-6">
        <div class="mb-5 mt-4">
          <img src="../../../../../assets/images/Logo-white.png" alt="Logo" />
        </div>
        <div class="header my-5">
          <h2>Change Password</h2>
        </div>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)" class="mt-4">
          <div class="form-group mb-4">
            <label for="password">Old Password</label>
            <div class="input-group flex-nowrap mb-3">
              <span class="input-group-text" id="addon-wrapping">
                <i class="fa-solid fa-key text-secondaryColor"></i>
              </span>
              <input [type]="hide ? 'password' : 'text'" class="form-control" formControlName="password"
                placeholder="Type your old password" />
              <span (click)="hide = !hide" class="eye-icon pointer"><i class="fa-solid fs-5"
                  [class]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>
            </div>
            <span class="alert alert-danger p-2"
              *ngIf="changePasswordForm.controls.password.errors && changePasswordForm.controls.password.touched">
              <span *ngIf="changePasswordForm.get('password')?.getError('required')" class="mb-0">Password Is
                Required</span>
              <span *ngIf="changePasswordForm.get('password')?.getError('pattern')" class="mb-0">Please must have
                A,a ,@,%,$,#,
                From 8 , 16</span>
            </span>
          </div>

          <div class="form-group mb-4">
            <label for="password">New Password</label>
            <div class="input-group flex-nowrap mb-3">
              <span class="input-group-text" id="addon-wrapping">
                <i class="fa-solid fa-key text-secondaryColor"></i>
              </span>
              <input [type]="hideNew ? 'password' : 'text'" class="form-control" formControlName="password_new"
                placeholder="Type your new password" />
              <span (click)="hideNew = !hideNew" class="eye-icon pointer"><i class="fa-solid fs-5"
                  [class]="hideNew ? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>
            </div>
            <span class="alert alert-danger p-2"
              *ngIf="changePasswordForm.controls.password_new.errors && changePasswordForm.controls.password_new.touched">
              <span *ngIf="changePasswordForm.get('password_new')?.getError('required')" class="mb-0">New Password Is
                Required</span>
              <span *ngIf="changePasswordForm.get('password_new')?.getError('pattern')" class="mb-0">Please must have
                A,a ,@,%,$,#,
                From 8 , 16</span>
            </span>
          </div>
          <!-- <div class="form-group mb-4">
            <label for="password">Confirm New Password</label>
            <div class="input-group flex-nowrap mb-3">
              <span class="input-group-text" id="addon-wrapping">
                <i class="fa-solid fa-key text-secondaryColor"></i>
              </span>
              <input [type]="hideConfirm ? 'password' : 'text'" class="form-control"
                formControlName="confirm_password_new" placeholder="Type your confirm password" />
              <span (click)="hideConfirm = !hideConfirm" class="eye-icon pointer"><i class="fa-solid fs-5"
                  [class]="hideConfirm ? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>
            </div> -->
            <!-- <span class="alert alert-danger p-2"
              *ngIf="changePasswordForm.controls.confirm_password_new.errors && changePasswordForm.controls.confirm_password_new.touched">
              <span *ngIf="changePasswordForm.get('confirm_password_new')?.getError('required')" class="mb-0">Confirm New
                Password Is
                Required</span>
              <span *ngIf="changePasswordForm.get('confirm_password_new')?.getError('invalid')" class="mb-0">Password And
                Confirm Password Not Match</span>
            </span> -->
          <!-- </div> -->
          <div class="d-flex justify-content-between align-items-center my-3">
            <button class="btn btn-whiteColor">
              Change <i class="fa-solid fa-circle-check"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-5">
        <div class="img-bg d-flex justify-content-center align-items-center">
          <img src="../../../../../assets/images/Login_Image.png" class="w-75 h-75 my-3" alt="register" />
        </div>
      </div>
    </div>
  </div>
</section>