<section id="login" class="auth">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-md-6">
        <div class="mb-5 mt-4">
          <img src="../../../../../assets/images/Logo-white.png" alt="Logo" />
        </div>
        <div class="header my-5">
          <h2>Reset password</h2>
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)" class="mt-4">
          <div class="form-group mb-4">
            <label for="email">Registered email address</label>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="email">
                <i class="fa-solid fa-envelope text-secondaryColor"></i>
              </span>
              <input type="email" class="form-control" formControlName="email" placeholder="Type your email" />
            </div>
          </div>
          <div class="form-group mb-4">
            <label for="otp">OTP</label>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="otp">
                <i class="fa-solid fa-envelope text-secondaryColor"></i>
              </span>
              <input type="otp" class="form-control" formControlName="otp" placeholder="Choose your otp" />
            </div>
          </div>
          <div class="form-group mb-4">
            <label for="password">Password</label>
            <div class="input-group flex-nowrap mb-3">
              <span class="input-group-text" id="addon-wrapping">
                <i class="fa-solid fa-key text-secondaryColor"></i>
              </span>
              <input [type]="hide ? 'password' : 'text'" class="form-control" formControlName="password"
                placeholder="Type your password" />
              <span (click)="hide = !hide" class="eye-icon pointer"><i class="fa-solid fs-5"
                  [class]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>
            </div>
          </div>
          <!-- <div class="form-group mb-4">
            <label for="confirmPassword">Confirm Password</label>
            <div class="input-group flex-nowrap mb-3">
              <span class="input-group-text" id="addon-wrapping">
                <i class="fa-solid fa-key text-secondaryColor"></i>
              </span>
              <input [type]="hideConfirm ? 'password' : 'text'" class="form-control" formControlName="confirmPassword"
                placeholder="Type your confirm password" />
              <span (click)="hideConfirm = !hideConfirm" class="eye-icon pointer"><i class="fa-solid fs-5"
                  [class]="hideConfirm ? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>
            </div>
          </div> -->
          <div class="d-flex justify-content-between align-items-center my-3">
            <button class="btn btn-whiteColor">
              Reset <i class="fa-solid fa-circle-check"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-5">
        <div class="img-bg d-flex justify-content-center align-items-center">
            <img src="../../../../../assets/images/Login_Image.png" class="w-75 h-75 my-3" alt="register" />
        </div>
    </div>
    </div>
  </div>
</section>